body {
  margin: 0;
  font-family: 'Bebas Neue', cursive;
}

p {
  margin: 0;
}

img {
  border-radius: 10px;
}

.brown {
  color: brown;
}

.move-right, .move-left {
  transition: 0.5s;
}

.move-right:hover {
  transform: translateX(50px);
}

.move-left:hover {
  transform: translateX(-50px);
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: black;
}

*::-webkit-scrollbar-thumb {
  background-color: brown;
}

/**************************************** TOP SECTION ******************************************/
/*************** NAVIGATION BAR *****************/

nav {
  padding: 0.5rem 10rem !important;
}

@media (max-width: 1281px) {
  nav {
    padding: 0.5rem 8rem !important;
  }
}

@media (max-width: 1025px) {
  nav {
    padding: 0.5rem 6rem !important;
  }
}

@media (max-width: 769px) {
  nav {
    padding: 0.5rem 3rem !important;
  }
}

@media (max-width: 500px) {
  nav {
    padding: 0.5rem 2rem !important;
  }
}

@media (max-width: 361px) {
  nav {
    padding: 0.5rem 1rem !important;
  }
}

nav a {
  color: #ffe6ca !important;
  font-size: 1rem;
}

.navbar-brand {
  font-family: 'Baskervville', serif;
  letter-spacing: 3px;
  font-size: 1.2rem;
  color: whitesmoke !important;
}

@media (max-width: 500px) {
  .navbar-brand {
    font-size: 1rem;
  }
}

@media (max-width: 321px) {
  .navbar-brand {
    font-size: 0.7rem;
  }
}

.title {
  font-weight: bold;
  color: #ffe6ca !important;
}

.navbar {
  background-color: #85603f !important;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-nav {
  margin-left: auto;
}

.nav-link {
  margin-left: 1rem;
  letter-spacing: 2px;
}

@media (Max-width: 321px) {
  .nav-link {
    font-size: 0.8rem;
  }
}

.nav-link:hover {
  color: whitesmoke !important;
}

ul {
  text-align: right;
  margin-top: 0.2rem;
}

.coffee {
  border-bottom: solid;
}

.login-link {
  border: 3px solid;
  border-radius: 5px;
  padding-bottom: 5px;
}

@media (max-width: 769px) {
  .login-link {
    border: none;
  }
}

@media (max-width: 500px) {
  .navbar-toggler {
    margin-left: auto;
  }
}

/******************************************* FOOTER SECTION *****************************************/
#footer-section {
  text-align: center;
  background-color: #d0af84;
  padding: 2rem 20%;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

@media (max-width: 500px) {
  #footer-section {
    padding: 2rem 2rem;
  }
}

.links {
  margin-bottom: 1rem;
}

#footer-section a {
  color: brown;
  font-size: 1.3rem;
  text-decoration: none;
}

#footer-section a:hover {
  color: cornsilk;
}

.social {
  margin-right: 3rem;
}

@media (max-width: 500px) {
  .social {
    margin: 0 0 1rem;
    display: block;
  }
}

.social-p {
  margin: 2rem 0 3rem;
}

.social-p a {
  color: #ffefcf !important;
}

.social-p a:hover {
  color: brown !important;
}

@media (max-width: 769px) {
  #footer-section .col-md-3 {
    width: 769px !important;
  }
}
