body {
  background-color: #ffefcf;
}

img {
  width: 100%;
}

@media (max-width: 769px) {
  img {
    border-radius: 0 !important;
  }
}

h1 {
  font-size: 3rem;
  letter-spacing: 3px;
  margin-bottom: 8rem;
}

@media (max-width: 769px) {
  h1 {
    font-size: 2rem;
    margin-bottom: 5rem;
  }
}

@media (max-width: 360px) {
  h1 {
    padding: 0 1rem;
  }
}

/************************************************ TOP DIV ***********************************************************/
.top-div {
  padding: 10rem 10rem;
  text-align: center;
}

@media (max-width: 1281px) {
  .top-div {
    padding: 10rem 6rem;
  }
}

@media (max-width: 1025px) {
  .top-div {
    padding: 10rem 4rem;
  }
}

@media (max-width: 769px) {
  .top-div {
    padding: 5rem 0 0;
  }
}

.col-md-6 {
  padding: 0 3rem;
  display: flex;
  align-items: center;
}

@media (max-width: 769px) {
  .col-md-6:nth-child(1) {
    margin-bottom: 5rem;
    display: block;
  }
}

@media (max-width: 769px) {
  .col-md-6:nth-child(2) {
    padding: 0;
  }
}

form {
  text-align: left;
  letter-spacing: 2px;
  width: 100%;
}

form div {
  margin-bottom: 2rem !important;
}

.label {
  font-size: 1.1rem;
  color: brown;
}

input[type="text"], input[type="email"] {
  letter-spacing: 2px;
  font-family: 'Oswald', sans-serif;
  border: none;
  border-bottom: 3px solid;
  border-radius: 0;
  background-color: transparent;
}

input[type="text"]:focus, input[type="email"]:focus {
  border: none;
  border-bottom: 3px solid;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
}

.radio {
  display: inline-block;
  margin-right: 1rem;
}

input[type="radio"]:hover {
  cursor: pointer;
}

.scope {
  margin-right: 1rem;
}

@media (max-width: 500px) {
  .scope {
    display: block;
    margin-bottom: 1rem;
  }
}

form button {
  display: block !important;
  letter-spacing: 2px;
  background-color: brown !important;
  color: cornsilk !important;
  border-radius: 0 !important;
}

.dropdown-toggle, .dropdown-toggle:focus {
  background-color: #85603f !important;
  box-shadow: none;
}

.dropdown-item {
  text-align: center;
}

@media (max-width: 500px) {
  form button {
    margin: 0 auto;
  }
}

@media (max-width: 769px) {
  .top-div .col-md-6 {
    width: 768px !important;
    text-align: center;
  }
}

/******************************************* FOOTER SECTION *****************************************/
.dealership-link, .bulk-link {
  color: cornsilk !important;
  border-bottom: 1px solid;
}
