
  <%- include("header-1") -%>
  <title>About - World Coffee House</title>
  <%- include("header-2") -%>
  <!-- Native CSS -->
  <link rel="stylesheet" href="css/about.css">
</head>

<body>
  <section id="top-section">
    <%- include("navbar-logged-in") -%>

    <div class="top-div">
      <h1>World <span class="coffee brown">Coffee</span> House</h1>
      <h4>Since <span class="coffee brown">1934</span></h4>

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-sm-12 introduction">
            <img src="images/craig.jpg" alt="">
          </div>
          <div class="col-md-6 col-sm-12 introduction">
            <div>
              <p class="intro-1">Established in the spring of 1934, World Coffee House is the world's largest coffee producing corporation.
                It was founded by <span class="brown">Sir Craig McArthur</span> and is headquartered in
                <span class="brown">Milan, Italy</span>.
              </p>
              <p class="intro-2">One fine afternoon, after several months of experimenting and observing, he developed the
                <span class="brown">finest ratio</span> of coffee and milk, along with highly efficient planting and brewing techniques.
                He couldn't control the joy of hitting such a feat and decided to <span class="brown">spread the joy</span> of sipping
                the same splendid coffee to everyone across the world.
              </p>
              <p>And <span class="brown">World Coffee House</span> was born, with a history so rich that you
              decided to read about it right now.</p>
            </div>
          </div>
        </div>
      </div>
      <img class="offices" src="images/offices.jpg" alt="">
    </div>

  </section>

  <%- include("footer-logged-in") -%>

  <script src="js/about.js" charset="utf-8"></script>
</body>

</html>
