
  <%- include("header-1") -%>
  <title>Bulk Ordering - World Coffee House</title>
  <%- include("header-2") -%>
  <!-- Native CSS -->
  <link rel="stylesheet" href="css/dealership-bulk.css">

</head>

<body>
  <section id="top-section">

    <%- include("navbar-logged-in") -%>

    <div class="top-div">
      <h1>Contact For <span class="coffee brown">Bulk Ordering</span></h1>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <form action="/bulk-ordering" method="post">
              <div class="form-group">
                <label class="label" for="exampleInputPassword1">Name</label>
                <input required name="name" type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter name">
              </div>
              <div class="form-group">
                <label class="label" for="exampleInputEmail1">Email address</label>
                <input required name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label class="label" for="exampleInputPassword1">Location</label>
                <input required name="location" type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter location">
              </div>
              <label class="scope label" for="">Select Qty:</label>
              <div class="form-check radio">
                <input class="form-check-input" type="radio" name="qty" id="exampleRadios2" value="20 Kg" checked>
                <label class="form-check-label" for="exampleRadios1">
                  20 Kg
                </label>
              </div>
              <div class="form-check radio">
                <input class="form-check-input" type="radio" name="qty" id="exampleRadios2" value="30 Kg" checked>
                <label class="form-check-label" for="exampleRadios1">
                  30 Kg
                </label>
              </div>
              <div class="form-check radio">
                <input class="form-check-input" type="radio" name="qty" id="exampleRadios2" value="40 Kg" checked>
                <label class="form-check-label" for="exampleRadios1">
                  40 Kg
                </label>
              </div>
              <div class="form-check radio">
                <input class="form-check-input" type="radio" name="qty" id="exampleRadios2" value="50 Kg" checked>
                <label class="form-check-label" for="exampleRadios1">
                  > 50 Kg
                </label>
              </div>
              <button type="submit" class="btn btn-lg">Submit</button>
            </form>
          </div>
          <div class="col-md-6 col-sm-12">
            <img src="images/sacks.jpg" alt="dealership">
          </div>
        </div>
      </div>

    </div>
  </section>

  <%- include("footer-logged-in") -%>
  <script src="js/dealership-bulk.js" charset="utf-8"></script>
</body>

</html>
