
  <%- include("header-1") -%>
  <title>Contact - World Coffee House</title>
  <%- include("header-2") -%>
  <!-- Native CSS -->
  <link rel="stylesheet" href="css/contact.css">
</head>

<body>
  <section id="top-section">

    <%- include("navbar-logged-in") -%>

    <div class="top-div">
      <h1><span class="coffee brown">Contact</span> Us</h1>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <img src="images/hq.jpg" alt="headquarters">
          </div>
          <div class="col-md-6 hq">
            <div>
              <h2><span class="brown coffee">Headquarters</span></h2>
              <p><i class="fas brown fa-map-marker-alt"></i> &nbsp; &nbsp; World Coffee House, Piazzale Angelo Moratti, Sector 15120, Milano, Italy</p>
              <p><i class="fas brown fa-envelope"></i> &nbsp; &nbsp; info@worldcoffeehouse.com</p>
              <p><i class="fas brown fa-phone"></i> &nbsp; &nbsp; +390697638375 &nbsp;/&nbsp; +390697636217</p>
              <p><i class="fas brown fa-clock"></i> &nbsp; &nbsp; Everyday, 9 AM to 9 PM</p>
            </div>
          </div>
        </div>

      </div>
      <div class="bottom-div">
        <h1 class="international-presence"><span class="coffee brown">International</span> Presence</h1>
        <div class="international">
          <h2 class="brown coffee">Houston</h2>
          <p><i class="fas brown fa-map-marker-alt"></i> &nbsp; &nbsp; World Coffee House, 5174, Richmond Avenue, Houston, Texas, USA</p>
          <p><i class="fas brown fa-envelope"></i> &nbsp; &nbsp; houston-info@worldcoffeehouse.com</p>
          <p><i class="fas brown fa-phone"></i> &nbsp; &nbsp; +540697638345 &nbsp;/&nbsp; +540697638347</p>
          <p><i class="fas brown fa-clock"></i> &nbsp; &nbsp; Everyday, 9 AM to 9 PM</p>
        </div>
        <div class="international">
          <h2 class="brown coffee">Sao Paulo</h2>
          <p><i class="fas brown fa-map-marker-alt"></i> &nbsp; &nbsp; World Coffee House, Rua Amauri, 513, Sao Paulo, State of Sao Paulo, Brazil</p>
          <p><i class="fas brown fa-envelope"></i> &nbsp; &nbsp; saopaulo-info@worldcoffeehouse.com</p>
          <p><i class="fas brown fa-phone"></i> &nbsp; &nbsp; +736697638876 &nbsp;/&nbsp; +736697638853</p>
          <p><i class="fas brown fa-clock"></i> &nbsp; &nbsp; Everyday, 9 AM to 9 PM</p>
        </div>
        <div class="international">
          <h2 class="brown coffee">Gurgaon</h2>
          <p><i class="fas brown fa-map-marker-alt"></i> &nbsp; &nbsp; World Coffee House, Central Arcade, DLF-Phase- 2, Sector 25, Gurgaon, India</p>
          <p><i class="fas brown fa-envelope"></i> &nbsp; &nbsp; gurgaon-info@worldcoffeehouse.com</p>
          <p><i class="fas brown fa-phone"></i> &nbsp; &nbsp; +246697638876 &nbsp;/&nbsp; +246697638856</p>
          <p><i class="fas brown fa-clock"></i> &nbsp; &nbsp; Everyday, 9 AM to 9 PM</p>
        </div>
        <div class="international">
          <h2 class="brown coffee">Cape Town</h2>
          <p><i class="fas brown fa-map-marker-alt"></i> &nbsp; &nbsp; World Coffee House, 12, Hertzog Boulevard, Cape Town, South Africa</p>
          <p><i class="fas brown fa-envelope"></i> &nbsp; &nbsp; capetown-info@worldcoffeehouse.com</p>
          <p><i class="fas brown fa-phone"></i> &nbsp; &nbsp; +89697638811 &nbsp;/&nbsp; +896697638863</p>
          <p><i class="fas brown fa-clock"></i> &nbsp; &nbsp; Everyday, 9 AM to 9 PM</p>
        </div>
        <div class="international">
          <h2 class="brown coffee">Sydney</h2>
          <p><i class="fas brown fa-map-marker-alt"></i> &nbsp; &nbsp; World Coffee House, 235, Macquarie St, Sydney, NSW, Australia</p>
          <p><i class="fas brown fa-envelope"></i> &nbsp; &nbsp; sydney-info@worldcoffeehouse.com</p>
          <p><i class="fas brown fa-phone"></i> &nbsp; &nbsp; +60697638840 &nbsp;/&nbsp; +606697638817</p>
          <p><i class="fas brown fa-clock"></i> &nbsp; &nbsp; Everyday, 9 AM to 9 PM</p>
        </div>
        <div class="international">
          <h2 class="brown coffee">Jakarta</h2>
          <p><i class="fas brown fa-map-marker-alt"></i> &nbsp; &nbsp; World Coffee House, Jl Rungkut Asri IV 25, Jawa Timur, Jakarta, Indonesia</p>
          <p><i class="fas brown fa-envelope"></i> &nbsp; &nbsp; jakarta-info@worldcoffeehouse.com</p>
          <p><i class="fas brown fa-phone"></i> &nbsp; &nbsp; +38697638812 &nbsp;/&nbsp; +386697638845</p>
          <p><i class="fas brown fa-clock"></i> &nbsp; &nbsp; Everyday, 9 AM to 9 PM</p>
        </div>
        <div class="international last">
          <h2 class="brown coffee">Shanghai</h2>
          <p><i class="fas brown fa-map-marker-alt"></i> &nbsp; &nbsp; World Coffee House, No. 2201 Yan An West Road, ChangNing District, Shanghai, China</p>
          <p><i class="fas brown fa-envelope"></i> &nbsp; &nbsp; shanghai-info@worldcoffeehouse.com</p>
          <p><i class="fas brown fa-phone"></i> &nbsp; &nbsp; +09697638843 &nbsp;/&nbsp; +096697638860</p>
          <p><i class="fas brown fa-clock"></i> &nbsp; &nbsp; Everyday, 9 AM to 9 PM</p>
        </div>
      </div>
    </div>
  </section>

  <%- include("footer-logged-in") -%>

  <script src="js/contact.js" charset="utf-8" type="text/javascript"></script>
</body>

</html>
