
  <%- include("header-1") -%>
  <title>Dealership - World Coffee House</title>
  <%- include("header-2") -%>
  <!-- Native CSS -->
  <link rel="stylesheet" href="css/dealership-bulk.css">

</head>

<body>
  <section id="top-section">

    <%- include("navbar") -%>

    <div class="top-div">
      <h1>Contact For <span class="coffee brown">Dealership</span></h1>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <form action="/dealership" method="post">
              <div class="form-group">
                <label class="label" for="exampleInputPassword1">Name</label>
                <input required name="name" type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter name">
              </div>
              <div class="form-group">
                <label class="label" for="exampleInputEmail1">Email address</label>
                <input required name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label class="label" for="exampleInputPassword1">Location</label>
                <input required name="location" type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter location">
              </div>
              <label class="scope label" for="">Dealership Scope:</label>
              <div class="form-check radio">
                <input class="form-check-input" type="radio" name="scope" id="exampleRadios2" value="national" checked>
                <label class="form-check-label" for="exampleRadios1">
                  National
                </label>
              </div>
              <div class="form-check radio">
                <input class="form-check-input" type="radio" name="scope" id="exampleRadios3" value="international" checked>
                <label class="form-check-label" for="exampleRadios1">
                  International
                </label>
              </div>
              <button type="submit" class="btn btn-lg">Submit</button>
            </form>
          </div>
          <div class="col-md-6 col-sm-12">
            <img src="images/handshake.jpg" alt="dealership">
          </div>
        </div>
      </div>

    </div>
  </section>

  <%- include("footer") -%>

  <script src="js/dealership-bulk.js" charset="utf-8"></script>
</body>

</html>
