<section id="footer-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <p class="links"><a class="about-link" href="/about-logged-in">About</a></p>
      </div>
      <div class="col-md-3">
        <p class="links"><a class="contact-link" href="/contact-logged-in">Contact</a></p>
      </div>
      <div class="col-md-3">
        <p class="links"><a class="dealership-link" href="/dealership-logged-in">Dealership</a></p>
      </div>
      <div class="col-md-3">
        <p class="links"><a class="bulk-link" href="/bulk-ordering-logged-in">Bulk Ordering</a></p>
      </div>
    </div>
  </div>
  <p class="links social-p"><a class="social" href="">Facebook</a> <a class="social" href="">Instagram</a> <a href="">Pinterest</a></p>
  <p>Estd. 1934</p>
  <p>© Copyright <span class="currentYear"></span> - World Coffee House</p>
</section>

<script type="text/javascript">
  let year = new Date().getFullYear();
  $(".currentYear").text(year);
</script>
