
  <%- include("header-1") -%>
  <title>World Coffee House</title>
  <%- include("header-2") -%>
  <!-- Native CSS -->
  <link rel="stylesheet" href="css/index.css">
</head>

<body>
  <section id="top-section">

    <%- include("navbar-logged-in") -%>

    <div class="top-div">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-sm-12 title-div">
            <h1 class="title-text world">World's</h1>
            <h1 class="finest move-right">Finest</h1>
            <h1 class="title-text title-coffee">Coffee</h1>
            <button type="button" class="btn btn-sm coffee-img-button" onclick="window.location.href='/coffee-logged-in'">Coffee</button>
            <button type="button" class="btn btn-sm coffee-img-button" onclick="window.location.href='/beans-logged-in'">Beans</button>
          </div>
          <div class="main-img-div col-md-6 col-sm-12 ">
            <img class="img-1" src="images/home page/1.jpg" alt="coffee">
          </div>
        </div>

      </div>
      <h1 class="top-div-h1">The finest of all <span class="coffee brown">coffees</span> you'll ever come across</h1>

      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="images/carousal/coffee/1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="images/carousal/coffee/2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="images/carousal/coffee/3.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="images/carousal/coffee/4.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="images/carousal/coffee/5.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="images/carousal/coffee/6.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>


    </div>
  </section>

  <section id="coffee-section">
    <h1 class="coffee-section-h1">World's Most <span class="coffee">Loved</span> Coffees</h1>
    <h4 class="coffee-section-h4">Produced From The Finest of Coffee Beans From <span class="coffee">Ivory Coast</span></h4>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <img class="coffee-img" src="images/home page/cappuccino.jpg" alt="cappuccino coffee">
          <h4 class="coffee-img-h4">Cappuccino</h4>

        </div>
        <div class="col-md-4 col-sm-12">
          <img class="coffee-img" src="images/home page/espresso.jpg" alt="espresso coffee">
          <h4 class="coffee-img-h4">Espresso</h4>

        </div>
        <div class="col-md-4 col-sm-12">
          <img class="coffee-img" src="images/home page/americano.jpg" alt="americano coffee">
          <h4 class="coffee-img-h4">Americano</h4>

        </div>
      </div>
      <button type="button" class="btn btn-lg coffee-img-button" onclick="window.location.href='/coffee-logged-in'">Explore</button>
    </div>
  </section>

  <section id="bottom-section">
    <div class="container-fluid beans-div">
      <div class="row">
        <div class="main-img-div col-md-6 col-sm-12">
          <img class="img-3" src="images/home page/3.jpg" alt="">
        </div>
        <div class="col-md-6 col-sm-12 beans-title-div">
          <h1 class="beans-world">World's</h1>
          <h1 class="purest move-left">Purest</h1>
          <h1 class="coffee-beans">Coffee Beans</h1>
        </div>
      </div>
    </div>
    <h1 class="bottom-section-h1">The Purest of All <span class="coffee brown">Coffee Beans</span> You'll Ever Come Across</h1>
    <div id="carouselExampleControls-2" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="images/carousal/beans/1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="images/carousal/beans/2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="images/carousal/beans/3.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="images/carousal/beans/4.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="images/carousal/beans/5.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="images/carousal/beans/6.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls-2" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls-2" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>

  <section id="beans-section">
    <h1 class="beans-section-h1">Coffee Beans With The Freshest of All <span class="coffee">Aromas</span></h1>
    <h4 class="beans-section-h4">Harvested From The Purest of <span class="coffee">Coffee Farms</span> in Ivory Coast</h4>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <img class="beans-img" src="images/home page/arabica.jpg" alt="arabica coffee beans">
          <h4 class="beans-img-h4">Arabica</h4>

        </div>
        <div class="col-md-4 col-sm-12">
          <img class="beans-img" src="images/home page/liberica.jpg" alt="liberica coffee beans">
          <h4 class="beans-img-h4">Liberica</h4>

        </div>
        <div class="col-md-4 col-sm-12">
          <img class="beans-img" src="images/home page/robusta.jpg" alt="robusta coffee beans">
          <h4 class="beans-img-h4">Robusta</h4>

        </div>
      </div>
      <button type="button" class="btn btn-lg coffee-img-button" onclick="window.location.href='/beans-logged-in'">Explore</button>
    </div>
  </section>

  <section id="credibility-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <img class="guinness" src="images/home page/credibility/guinness.png" alt="guinness-world-record">
        </div>
        <div class="col-md-6 col-sm-12 right">
          <h1 class="coffee">Guinness World Record</h1>
          <h3>Largest Amount Of Coffee Produced in 1 Year - <span class="brown">24 Billion Tonnes in 2019</span></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <img src="images/home page/credibility/oldest.jpg" alt="oldest coffee production house">
        </div>
        <div class="col-md-6 col-sm-12 right">
          <h1 class="coffee">Magnificient History</h1>
          <h3>World's Oldest Sustaining Coffee Production House - <span class="brown">87 Years Since Inception</span></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <img src="images/home page/credibility/farmer.jpg" alt="happy farmer">
        </div>
        <div class="col-md-6 col-sm-12 right">
          <h1 class="coffee">Farmer Before Customer</h1>
          <h3>83 % Of Our Revenue Is <span class="brown">Distributed Back</span> To Our Farm Heroes</h3>
        </div>
      </div>
      <div class="row last">
        <div class="col-md-6 col-sm-12">
          <img src="images/home page/credibility/carbon.png" alt="zero carbon footprint">
        </div>
        <div class="col-md-6 col-sm-12 right">
          <h1 class="coffee">Zero Carbon Footprint</h1>
          <h3>From Farming To Production, We're Accompanied By The <span class="brown">Greenest Of Standards</span></h3>
        </div>
      </div>
    </div>
  </section>

  <section id="explore-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <button type="button" class="btn btn-sm" onclick="window.location.href='/coffee-logged-in'">Explore Coffee</button>
          <button type="button" class="btn btn-sm coffee-img-button" onclick="window.location.href='/beans-logged-in'">Explore Beans</button>
        </div>
        <div class="col-md-6 col-sm-12">
        </div>
      </div>
    </div>

  </section>

  <%- include("footer-logged-in") -%>

  <script src="js/home.js" charset="utf-8" type="text/javascript"></script>
</body>

</html>
