<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid nav-container">
    <a class="navbar-brand" href="/home-logged-in">WORLD <span class="coffee title">COFFEE</span> HOUSE </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/coffee-logged-in"><span class="coffee-link">COFFEE</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/beans-logged-in"><span class="beans-link">BEANS</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about-logged-in"><span class="about-link">ABOUT</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact-logged-in"><span class="contact-link">CONTACT</span></a>
        </li>
        <li class="nav-item seperator">
          <a class="nav-link">|</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/orders"><span class="orders-link">ORDERS</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cart"><span class="cart-link">CART</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout"><span class="logout-link">LOGOUT</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script src="js/navbar-logged-in.js" charset="utf-8"></script>
