<%- include("header-1") -%>
<title>Explore Coffee - World Coffee House</title>
<%- include("header-2") -%>
<!-- Native CSS -->
<link rel="stylesheet" href="css/orders.css">
</head>

<body>

<section id="top-section">

  <%- include("navbar-logged-in") -%>

  <div class="top-div table-responsive">
    <h1>Your <span class="coffee brown">Orders</span></h1>
    <div class="cart table-responsive">
      <table class="table align-middle w-100 d-block d-md-table">
        <thead>
          <tr class="table-heading">
            <th>Date</th>
            <!-- <th>Order ID</th> -->
            <th>View Order</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>7 April 2021</td>
              <!-- <td>904</td> -->

              <td><button class="btn btn-lg" type="button" name="button"><i class="fas fa-chevron-circle-right"></i></button></td>
            </tr>
            <tr>
              <td>20 May 2021</td>
              <!-- <td>1101</td> -->

              <td><button class="btn btn-lg" type="button" name="button"><i class="fas fa-chevron-circle-right"></i></button></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>

</<section>

<%- include("footer-logged-in") -%>
<!-- <script src="js/coffee-beans.js" charset="utf-8"></script> -->
<script src="js/cart.js" charset="utf-8"></script>
</body>

</html>
