body {
  background-color: #ffefcf;
}

.top-div p {
  font-size: 1.5rem;
  font-family: 'Oswald', sans-serif;
  line-height: 1.8;
  margin: 2rem 0 !important;
}

@media (max-width: 1281px) {
  .top-div p {
    font-size: 1.3rem;
  }
}

@media (max-width: 1025px) {
  .top-div p {
    font-size: 1.1rem;
  }
}

@media (max-width: 1025px) {
  .top-div p {
    font-size: 1.3rem;
  }
}

@media (max-width: 500px) {
  .top-div p {
    font-size: 1.2rem;
  }
}

img {
  width: 75%;
}

@media (max-width: 500px) {
  img {
    width: 100%;
  }
}

h1 {
  font-size: 3rem;
  letter-spacing: 3px;
}

.about-link {
  color: cornsilk !important;
  border-bottom: 1px solid;
}

/************************************************ TOP DIV ***********************************************************/
.top-div {
  padding: 10rem;
  text-align: center;
}

@media (max-width: 1281px) {
  .top-div {
    padding: 10rem 6rem;
  }
}

@media (max-width: 1025px) {
  .top-div {
    padding: 10rem 4rem;
  }
}

@media (max-width: 769px) {
  .top-div {
    padding: 5rem 4rem;
  }
}

@media (max-width: 500px) {
  .top-div {
    padding: 5rem 2rem;
  }
}

@media (max-width: 361px) {
  .top-div {
    padding: 5rem 1rem;
  }
}

h1 {
  margin-bottom: 3rem;
}

.top-div .row {
  margin: 10rem 0;
}

@media (max-width: 1281px) {
  .top-div .row {
    margin: 5rem 0;
  }
}

@media (max-width: 500px) {
  .top-div .row {
    margin: 5rem 0 2rem;
  }
}

.introduction {
  display: flex;
  align-items: center;
}

@media (max-width: 769px) {
  .introduction {
    display: block;
    align-items: center;
  }
}

.offices {
  width: 90%;
  border: 3px brown solid;
}

@media screen and (max-width: 500px) {
  .offices {
    content: url(../images/offices-small.jpg);
    width: 100%;
  }
}

.col-md-6 {}

@media (max-width: 769px) {
  .col-md-6 {
    width: 100% !important;
    text-align: center;
  }
}

.col-md-6:nth-child(1) {
  margin-bottom: 5rem;
}

@media (max-width: 500px) {
  .col-md-6:nth-child(1) {
    margin-bottom: 2rem;
  }
}
