body {
  background-color: #ffefcf;
}

.top-div p {
  font-size: 1.5rem;
  font-family: 'Oswald', sans-serif;
  line-height: 1.8;
}

@media (max-width: 500px) {
  .top-div p {
    font-size: 1.2rem;
    line-height: 1.5;
  }
}

.name {
  font-size: 0.5rem;
}

img {
  width: 100%;
}

@media (max-width: 500px) {
  img {border-radius: 0 !important;}
}

h1 {
  font-size: 3rem;
  letter-spacing: 3px;
  margin-bottom: 10rem;
}

@media (max-width: 1025px) {
  h1 {
    margin-bottom: 5rem;
  }
}

.bottom-div{}

@media (max-width: 500px) {
  .bottom-div {
    padding: 0 2rem;
  }
}

.contact-link {
  color: cornsilk !important;
  border-bottom: 1px solid;
}

/************************************************ TOP DIV ***********************************************************/
.top-div {
  padding: 10rem;
  text-align: center;
}

@media (max-width: 1281px) {
  .top-div {
    padding: 10rem 8rem;
  }
}

@media (max-width: 1025px) {
  .top-div {
    padding: 5rem 6rem;
  }
}

@media (max-width: 769px) {
  .top-div {
    padding: 5rem 4rem;
  }
}

@media (max-width: 500px) {
  .top-div {
    padding: 5rem 0;
  }
}

.container-fluid {}

@media (max-width: 500px) {
  .container-fluid {
    padding: 0;
  }
}

.top-div .row {
  margin: 0 0 10rem;
}

@media (max-width: 500px) {
  .top-div .row {
    margin: 0 0 7rem;
  }
}

.col-md-6{}

@media (max-width: 1025px) {
  .col-md-6 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .col-md-6:nth-child(1) {
    padding: 0;
  }
}

.hq {
  display: flex;
  align-items: center;
  padding: 0 3rem;
}

@media (max-width: 1025px) {
  .hq {
    margin-top: 5rem;
  }
}

@media (max-width: 321px) {
  .hq {
    padding: 0 1rem;
  }
}

.hq p {
  margin-top: 1.5rem;
}

h2 {
  letter-spacing: 2px;
}

h1:nth-child(2) {
  margin-bottom: 5rem;
}

.international {
  text-align: left;
  margin-bottom: 5rem;
}

.international h2 {
  margin-bottom: 1rem;
}

.international p {
  font-size: 1.2rem;
}

@media (max-width: 500px) {
  .international p {
    margin-bottom: 1rem;
  }
}

@media (max-width: 361px) {
  .international p {
    font-size: 1rem;
    line-height: 2;
  }
}

.last {
  margin-bottom: 0;
}
