body {
  padding: 5rem;
  text-align: center;
}

form {
  border: 1px solid;
  padding-bottom: 2rem;
}

input {
  display: block;
  margin: 1rem auto;
}

button {
  margin-top: 2rem;
}

.search, .search-bar {
  display: inline-block;
  margin-top: 0;
}

div {
  border: 1px solid;
}

.coffee-div {
  background-color: #e4fbff;
}

.beans-div {
  background-color: #ffc2b4;
}
